<div class="tab-container">
    <mat-tab-group animationDuration="0ms" class="upper-tabs">
        <mat-tab label="Inputs"> 
            <mat-tab-group animationDuration="0ms" class="lower-tabs">
                <mat-tab label="Analog">
                    <div class="container">
                        <div class="item item-left">
                            <h3>Current analog inputs:</h3>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="item item-right">
                            <h3>Add new analog input</h3>
                          <p>Dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div> 
                </mat-tab>


                <mat-tab label="Digital">
                    <div class="container">
                        <div class="item item-left">
                            <h3>Current digital inputs:</h3>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="item item-right">
                            <h3>Add new digital input</h3>
                          <p>Dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
        <mat-tab label="Outputs">
            <mat-tab-group animationDuration="0ms" class="lower-tabs">
                <mat-tab label="Analog">
                    <div class="container">
                        <div class="item item-left">
                            <h3>Current analog outputs:</h3>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="item item-right">
                            <h3>Add new analog output</h3>
                          <p>Dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Digital">
                    <div class="container">
                        <div class="item item-left">
                            <h3>Current digital outputs:</h3>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="item item-right">
                            <h3>Add new digital output</h3>
                          <p>Dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
        <mat-tab class="third" label="RTUs">
            Content
        </mat-tab>
    </mat-tab-group>
</div>
  
