.div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    position: center;
    text-align: center;
    justify-content: center;
  }
  
  .element {
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #f5f5f5;
  }

  /* .loginbtn {
    width: 200px;
  } */
  
/*   
  button {
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #af209a;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fff;
    color: #000;
  }


  button:disabled {
    opacity: 0.5; 
    cursor: not-allowed; 
    background-color: #000;
  } */

  /* a {
    color: rgb(255, 0, 230);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  } */

  
  
  
  
  
  
  