.ta {
    width: 50%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    width: 60%;
    align-self: center;
    text-align: center;
}

.analog-meta-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.small {
    width: 80%;
}