<div class="div">
    <h1>Registration</h1>
    <form
      method="POST"
      [formGroup]="loginForm" 
      (ngSubmit)="onRegister()"
    >
        <input class="element" type="text"  formControlName="username" placeholder="Enter Username" name="username" id="username" required>
        <br>

        <input class="element" type="password" name="password" formControlName="password" placeholder="Enter Password" id="password" required>
        <br>

        <button (keydown.enter)="onRegister()" type="submit">Register</button>
    </form>
</div>