<nav>
    <div class="left">
        <span (click)="goToManageTags()"><a href="tags">Manage Tags</a></span>
        <span class="space" (click)="goToTrending()"><a href="trending">Trending</a></span>
        <span class="space" (click)="goToReports()"><a href="reports">Reports</a></span>
        <span class="space" (click)="goToRegister()"><a href="register">Register New User</a></span>
        <!-- <span class="space" (click)="startSimulation()"><a>Start sim</a></span>
        <span class="space" (click)="stopSimulation()"><a>Stop sim</a></span> -->
    </div>
    <div class="right">
      <span class="space" (click)="logout()"><a>Log out</a></span>
    </div>
  </nav>
  